

<script src=~/lib/jquery/dist/jquery.min.js></script>



<div>
    <h1> Welcomet to Consumeing the rest service </h1>
    <button class="btn btn-primary">
        Get Rest Data
    </button>

    <table class="table table-bordered">

    </table>
</div>